body {
	color: #34495e;
	font-family: "Segoe UI";
	margin: 0;
	background: rgba(5, 5, 5, 0.507);
}

#background {
	margin: 0;
	min-width: 100%;
	min-height: 100%;
	background: rgba(202, 94, 94, 0.329);
}

#wrap {
	width: 90vw;
	min-height: 7vw;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(46, 46, 46, 0);
	color: rgba(255, 255, 255, 0.9);
	border-radius: 2px;
}

p {
	float: left;
	margin-left: 15px;
	padding-left: 10px;
	font-size: 1.05vw;
}

.yeet {
	margin: 0;
	margin-top: 2vw;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-size: 1.05vw;
}

.header {
	font-family: "Segoe UI";
	height: 35px;
	width: auto;
	background-color: #1c1c1c00;
	padding-left: 0px;
	padding-right: 0px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
}

.jobs {
	font-family: "Segoe UI";
	padding-top: 10px;
	background-color: #1c1c1c00;
	height: 3vw;
	width: 100%;
}

.jobs p {
	font-family: "Segoe UI";
}

table {
	text-align: left;
	color: white;
}

th,
td {
	padding-left: 25px;
}

th {
	padding-top: 10px;
	height: 40px;
}

tr {
	font-size: 0.9vw;
	font-family: "Segoe UI";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

tr.heading {
	font-size: 1vw;
	color: rgba(255, 255, 255, 0.9);
}

.serverinfo {
	position: relative;
	top: 10px;
	font-size: 0.8vw;
	text-align: center;
}
